# Ignore compiled executables
*.exe

# Ignore dynamic libraries
*.dll
*.so
*.dylib

# Ignore build artifacts
*.o
*.obj

# Ignore pure text
*.txt

# Ignore python scripts
*.py

# Ignore notepad++ backups
*.bak